/* HeroSection.css */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke; 
    color: black; 
    font-family: 'raleway, sans-serif';
    font-size: 17px;
    padding:0.25rem 1rem;
}
.hero-container {
    display:grid;
    grid-template-columns: auto auto;
    flex-direction: column-reverse; /* To stack content on mobile */
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    font-family: 'raleway, sans-serif';

  }
  @media screen and (max-width: 768px) {
    .hero-container {
      display: flex;
      flex-direction: column;
      padding:30px ;
      margin-left: 8px;
      justify-content: space-around;
      
    }
   
  }
    
  
  
  .hero-content {
    text-align: left;
    max-width: 600px;
    margin: 30px;
    margin-top:0;
    padding-top: 0;
  }
  @media screen and (max-width: 768px) {
    .hero-content {
      text-align: center;
      margin: 10px;
      padding: 20px;
      justify-content: space-around;
      overflow: hidden;
    }
  }
    

  
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
      text-align: center;
    
    }
  }
    

  
  p {
    color:gray;
    font-size: 1.5rem;
    font-family: 'raleway, sans-serif';
  }
  @media screen and (max-width: 768px){
    p {
      font-size: 1rem;
    }
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #7c60cc;
    border-radius: 25px 25px 25px 25px; 
    padding:0.75rem 2rem; 
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .hero-image {
    max-width: 100%;
    margin-right:6px;
  }
  @media screen and (max-width: 768px) {
    .hero-image {
      max-width: 100%;
      margin-right:0;
    }
  }
    

  
  /* Media query for responsive design */
  @media (min-width: 768px) {
 
  }
  .middle-container{
    margin-top: 90px;
    background-color: whitesmoke;
    padding: 20px;
  }
   .middle-container h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-align: center;
}
.middle-content{
  gap: 2rem;
  height:5px;
  width:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-direction: column-reverse; /* To stack content on mobile */
    align-items: center;
    justify-content: space-around;
    margin:auto;
    padding: 20px;
    font-family: 'raleway, sans-serif';
}



.bottom-container{
  background-color: blueviolet;
  color:white;
  position: relative;
  height: fit-content;
  margin-top: 120px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:60px 40px 180px 40px;
}

@media screen and (max-width: 768px) {
  .bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.bottom-container p{
  color:whitesmoke;
}
.bottom-container h1{
  line-height: 50px;
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  color: white;
  border-radius: 30%;
}
.bottom-content{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding:20px;
  gap:2rem;
}
.blue_estimatebtn{

  padding-bottom: 80px;


  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.estimate_button{
  background-color: whitesmoke;
  color: #502abb;
}
.SecondHalfContainer1{
  margin-left: 40px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  font-family: 'raleway, sans-serif' ;
  justify-content: center;
  background-color:whitesmoke; 
  color: black; 
}
.SecondHalfContainer1Content{
  padding:40px;
}
.SecondHalfContainer1 h1{
  font-size: 3rem;
  color:black;
}
.SecondHalfContainer1 h3{
  font-size: larger;
  color:gray;
}
.SecondHalfContainer1 a{
 color:#502abb;
 text-decoration: none;
 font-size: 1.5rem;
 font-weight: bold;
}
.SecondHalfContainer1 img{
  margin-left: 20px;
  padding:40px;
  
}
@media screen and (max-width: 768px){
  .SecondHalfContainer1{
    display: flex;
    flex-direction: column;
    padding:40px
  }
  .SecondHalfContainer1 img{
    margin-top: 30px;
  }
}

.SecondHalfContainer3{
margin-left: 20px;
margin-top: 50px;
display: grid;
grid-template-columns: 1fr 1fr;
font-family: 'raleway, sans-serif' ;
justify-content: center;
background-color:whitesmoke; 
color: black; 
}
.SecondHalfContainer3Content{
  margin-top: 450px;
  padding:80px;
}
.SecondHalfContainer3 h1{
  font-size: 3rem;
  color:black;
}
.SecondHalfContainer3 h3{
  font-size: larger;
  color:gray;
}
.SecondHalfContainer3 a{
  color:#502abb;
 text-decoration: none;
 font-size: 1.5rem;
 font-weight: bold;
}
.CustomApiSection{
  margin-top: 80px;
  padding-left:40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display:grid;
  grid-template-columns: 1fr 1.5fr ;
 gap:1rem;
  

}
.CustomApiSection h1{
  font-size: 3rem;
    color:black;
}
.CustomApiSectionContext{
  padding-right:30px;
}
.CustomApiSection a{
  color:#502abb;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.byYourSide{
  margin-top: 120px;
  padding: 40px;
  margin-left:0px;
  margin-right:30px;
 overflow:hidden;
  display:grid;
  grid-template-columns: 1fr 2fr ;
  
}
.byYourSide h1{
  font-size: 3rem;
  color:black;
}
 
.byYourSide a{
  color:#502abb;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.byYourSide ol{
  color:#7a797d
}
.byYourSide img{
  margin-left: 40px;
  border-radius: 3%;
}
.productLove{
  width:75%;
  margin-left:12%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom:100px;

}
.productLove h1{
  font-size: 2rem;
  text-align: center;
}
.productLove p{
  text-align: center;
}
.Carousal{
  padding:50px;
  width:90vw;
 
  align-items: center;
  margin-left:5%;
  margin-bottom: 50px;
}
.SecondLastContainerBlue{
  background-color: blueviolet;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 120px 120px 80px 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SecondLastContainerBlue h3{
  font-size: medium;
}
.SecondLastContainerBlue h1{
  margin-top: 20px;
  font-weight: bold;
}
.SecondLastContainerBlue button{
  margin-top: 80px;
  background-color: white;
  color:blueviolet;
  border-radius: 25px 25px 25px 25px; 
}