/* Your CSS file, e.g., styles.css */

.card-container {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    
  }
  
  .card {
    border: 1px solid #090909;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card img{
    width:50%;
  }
  
  @media (max-width: 730px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }
  