.login-popup{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: white;
}

.login-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin: 0 0 20px;
}

.input-container {
  text-align: left;
  margin-bottom: 20px;
  padding-right:20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  width:210px;
}

.or-divider {
  margin: 20px 0;
  position: relative;
}

.or-divider span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.or-divider:after {
  content: '';
  height: 1px;
  background-color: #ccc;
  width: 100%;
  position: absolute;
  top: 50%;
}

.google-login-button {
 
 margin-left: 40px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
.login-popup{
  background-color: white;
}


.login-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container {

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgottenPassword{
  font-size: medium;
}
.no-account{
  font-size: large;
}
/* Rest of the CSS remains the same */
