/* Common styles for both login and signup pages */

.signup-popup, .login-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .signup-container, .login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
  }
  
  .left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Specific styles for the signup page */
  
  .signup-container {
    max-width: 800px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .signup-box, .login-box {
    text-align: center;
    padding: 20px;
  }
  
  .signup-button {
    background-color: #4caf50; /* Green color */
    color: #fff;
    width:210px;
  }
  
  .google-signup-button{
  margin-left: 0px;
 }
.account-exists{
  font-size: large;
}